/* 变量 */
@width: 100px;
@height: @width + 50px;
@basic-color: #eee;

.p {
    width: @width;
    height: @height;
    color: @basic-color;
    background-color: red;
}

/* 混合 */
.bordered {
    border-top: dotted 1px black;
    border-bottom: solid 2px black;
}
.header {
    color: blue;
    .bordered
}
.footer {
    color: purple;
    .bordered
}

/* 嵌套 */
.inner {
    background: #f5f5f5;
    .header {
        border-left: 5px solid dodgerblue;
        .title {
            font-size: 16px;
            font-weight: bolder;
        }
    }
}

/* 运算-加减乘除*/