/* 变量 */
.p {
  width: 100px;
  height: 150px;
  color: #eee;
  background-color: red;
}
/* 混合 */
.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.header {
  color: blue;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.footer {
  color: purple;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
/* 嵌套 */
.inner {
  background: #f5f5f5;
}
.inner .header {
  border-left: 5px solid dodgerblue;
}
.inner .header .title {
  font-size: 16px;
  font-weight: bolder;
}
